version: 2
jobs:
  test:
    docker:
      - image: zeplin/amazon-linux-ami:cci-node8
    steps:
      - checkout
      - run: sudo npm i -g lerna
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run: lerna bootstrap --hoist
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
      - run: lerna run lint
      - run: lerna run build
      - run: lerna run test

  publish_extension:
      docker:
      - image: zeplin/amazon-linux-ami:cci-node8
      steps:
        - checkout
        - restore_cache:
            key: dependency-cache-{{ checksum "package-lock.json" }}
        - run: lerna bootstrap --hoist
        - run: lerna run build --scope=$(echo $CIRCLE_TAG | cut -d'@' -f 1)
        - run:
            name: Publish extension
            command: |
              extension_pkg_name=$(echo $CIRCLE_TAG | cut -d'@' -f 1)
              lerna run publish --scope=$extension_pkg_name

  publish_npm:
      docker:
      - image: zeplin/amazon-linux-ami:cci-node8
      steps:
        - checkout
        - restore_cache:
            key: dependency-cache-{{ checksum "package-lock.json" }}
        - run: lerna bootstrap --hoist
        - run: lerna run build --scope=zeplin-extension-style-kit
        - run:
            name: Publish zeplin-extension-style-kit to NPM
            command: |
              echo "@zeplin:registry=https://registry.npmjs.org/" >> ~/.npmrc
              echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
              lerna run publish-pkg --scope=zeplin-extension-style-kit

workflows:
  version: 2
  build_test_and_deploy:
    jobs:
      # Run the test for all branches
      - test:
          filters:
            tags:
              only: /.*/
      - publish_npm:
          requires:
            - test
          filters:
            # Ignore any commit on any branch
            branches:
              ignore: /.*/
            # Run the job only on style kit tags
            tags:
              only: /zeplin-extension-style-kit@[0-9]+(\.[0-9]+)*/
      - publish_extension:
          requires:
            - test
          filters:
            # Ignore any commit on any branch
            branches:
              ignore: /.*/
            # Run the job only on extension tags (ex: css@1.0.0, less@1.0.0, etc.)
            tags:
              only: /(?:css|stylus|less|sass|scss)@[0-9]+(\.[0-9]+)*/